@font-face {
  font-family: "AkrobatBlack";
  src: url("../fonts/Akrobat-Black.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AkrobatBold";
  src: url("../fonts/Akrobat-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AkrobatExtraBold";
  src: url("../fonts/Akrobat-ExtraBold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AkrobatExtraLight";
  src: url("../fonts/Akrobat-ExtraLight.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AkrobatLight";
  src: url("../fonts/Akrobat-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AkrobatRegular";
  src: url("../fonts/Akrobat-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AkrobatSemiBold";
  src: url("../fonts/Akrobat-SemiBold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AkrobatThin";
  src: url("../fonts/Akrobat-Thin.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrutalType";
  src: url("../fonts/Brutal Type.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrutalTypeBold";
  src: url("../fonts/Brutal Type Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrutalTypeExtraLight";
  src: url("../fonts/Brutal Type Extralight.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrutalTypeLight";
  src: url("../fonts/Brutal Type Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrutalTypeMedium";
  src: url("../fonts/Brutal Type Medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}